body {
    display: grid;
    padding-left: 0;
    grid-template-columns: 25% repeat(6, 12%);
    grid-template-rows: repeat(10, 10%);
}

.personal-info {
    grid-row: span 10;
    border-right: 4px solid;
}

.part {
    grid-column: span 3;
    grid-row: span 3;
    border-right: 4px solid;
}

.projects {
    grid-column: span 6;
    grid-row: span 6;
}

h3 {
    padding-left: .4em;
}