* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e0f0ed;
  list-style: none;
}

body {
  padding: 1.8vh 1.75vw 2vh 1.75vw;
}

html {
  font-family: "Roboto Slab", serif;
  font-size: 15px;
}

.avatar {
  text-align: center;
}

#avatar {
  width: 20vw;
  margin-bottom: 5px;
  height: auto;
  max-width: 120px;
  border-radius: 50%;
  border: 0.25em solid white;
  -webkit-box-shadow: 0px 2px 4px 0px #00000026;
          box-shadow: 0px 2px 4px 0px #00000026;
}

.logo-container {
  width: 50px;
  height: 50px;
  text-align: center;
}

img {
  height: 50px;
}

.work img {
  width: 50px;
}

.certification img {
  height: 38px;
  width: 42px;
}

h3 {
  border-bottom: 2px solid;
  margin-bottom: 4px;
}

.time,
.location {
  opacity: 0.8;
  font-size: 14px;
  margin: 2px 0;
}

a {
  color: #1853f5;
}

.part {
  padding-bottom: 0.6em;
  border-top: 4px solid;
}

.part-info {
  padding-left: 0.6em;
  padding-top: 0.2em;
}

.detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 0.75em;
  margin-bottom: 1em;
}

.detail-container .logo-container {
  margin-right: 1.5em;
  margin-top: 0.2em;
}

.personal-info {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.personal-info .headline {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  font-style: italic;
}

.personal-info ul li {
  border-left: 2px solid;
  padding-left: 0.8em;
  margin-left: 12em;
  margin-bottom: 0.8em;
}

.personal-info ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.personal-info ul li a img {
  height: 1.8em;
  margin-right: 0.4em;
  padding: 2px;
  border: 2px solid lightblue;
  border-radius: 50%;
}

.personal-info ul #github a {
  color: #1853f5;
}

.experience .detail ul {
  margin-left: 1.2em;
  margin-top: 0.3em;
}

.experience .detail ul li {
  list-style: square;
}

.skills ul li {
  list-style: circle;
  margin-left: 1.2em;
  margin-bottom: 0.2em;
}

.projects .project-description {
  padding-top: 0.2em;
  margin-left: 2.2em;
}

.projects .project-description li {
  list-style: circle;
  line-height: 120%;
  margin-bottom: 0.4em;
}

.projects .project-description li .second-level-list {
  margin-left: 1em;
}

.projects .project-description li .second-level-list li {
  list-style: square;
  margin-bottom: 0.1em;
}

.project {
  padding-top: 0.6rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid gray;
}

footer {
  margin-top: 6px;
  text-align: center;
}

footer #online-cv-link {
  color: #535353;
}
/*# sourceMappingURL=style.css.map */